<br>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Order total</th>
        </tr>
    </thead>
    <tr *ngFor="let cust of filteredCustomers">
        <td>
            <a>
                {{ cust.name }}
            </a>
        </td>
        <td>
            {{ cust.city }}
        </td>
        <td>
            {{ cust.orderTotal }}
        </td>
    </tr>
    <tr>
        <!-- <td></td> -->
        <td colspan="2">&nbsp;</td>
        <td>{{ customersOrderTotal }}</td>
    </tr>
    <tr>
        <td> No customers found</td>
    </tr>

</table>
Number of customers:
<br>
